services:
  postgres:
    image: postgres:16-alpine
    container_name: desafio_itau
    environment:
      POSTGRES_DB: desafio_itau
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: